<mail>
	# backup for mail.example.org (approx: 18 Go)
	enabled=1
	priority=90
	destination=/var/backup/mail.example.org
	rotation=0minutes4hours7days4weeks3month0years

	host=mail.example.org
	remoteuser=root

	source	/etc
	source	/usr/local/bin
	source	/var/lib/cyrus
	source	/var/lib/mysql
	source	/var/spool
</mail>

<www>
	# backup for www.example.org (aprox: 300 Mo)
	enabled=1
	priority=100
	destination=/var/backup/www.example.org
	rotation=0minutes0hours7days4weeks6month0years

	host=www.example.org
	remoteuser=root

	source /etc
	source /usr/local/bin
	source /var/www
</www>

<ftp>
	# backup for ftp.example.org (aprox: 300 Go)
	enabled=0
	priority=120
	destination=/var/backup/ftp.example.org
	rotation=0minutes0hours0days4weeks6month0years

	host=ftp.example.org

	source /etc
	source /var/ftp
</ftp>
